**1.**
The radius of a circle is 5.5. Write a script to compute the area of a circle.

In [38]:
pi = 3.14
r = 5.5
print(r**2*pi)
area = 94.985
print("The area of a circle with a radius of", r, "is", area)

94.985
The area of a circle with a radius of 5.5 is 94.985

**2.**
Write a program where Python prints your name, then print them in reverse order with a comma between them.  Put this in the same cell.    

For example:

Sophia Barrett    
Barrett, Sophia

In [10]:
print("Esther Hernandez")
print("Hernandez, Esther")

Esther Hernandez
Hernandez, Esther

**3.**  Write a program to test if a number is divisible by 5.

In [13]:
135%5  # no remander means the number is divisible by 5

0

**4.**  What is the output of the following program?  

a = 1  
b = a * 2  
c = 2 * b + 1  
print(a)  
print(b)  
print(c)

In [0]:
1
2
5

**5.**  What is the output of the following program?  

a = 2  
b = a * 2  
c = b ** a  
a = c % 2  
print(a)  
print(b)  
print(c)

In [0]:
2
4
16
0

**6.**    What is the output of the following program?  

a = 5  
b = a // 2  
c = a / 2  
a = a % 2  
print(a)  
print(b)  
print(c)

In [17]:
print(5)
print(5//2)
print(5/2)
print(5%2)

5
2
2.5
1

**7.**  Type each of the following commands.  Note each response.    
print("Hello, world!")    
print("Hello", "world!")  
print(3)  
print(3.0)  
print(2 + 3)  
print(2.0 + 3.0)  
print(2 * 3)  
print(2 ** 3)
print(7 / 3)  
print(7 // 3)

In [0]:
print("Hello, world!")

Hello, world!

In [0]:
print("Hello", "world!")

Hello world!

In [0]:
print(3)

3

In [0]:
print(3.0)

3.0

In [0]:
print(2+3)

5

In [0]:
print(2.0+3.0)

5.0

In [0]:
print(2*3)

6

In [0]:
print(2**3)

8

In [0]:
print(7/3)

2.3333333333333335

In [0]:
print(7//3)

2

**8.**

Create a program with a name and age.  Then have it print out a message addressed to name that tells them the year that they will turn 100 years old.

In [61]:
name = "Esther Hernandez"
age = 28
year= 2091
print(name, "is", age, "years old", "and will turn 100 in", year,)

Esther Hernandez is 28 years old and will turn 100 in 2091

**9.**  Create a sequence of numbers from 3 to 19, but increment by 2.

In [36]:
list(range(3,21,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

**10.**  Try to solve this problem on your own first, then check your results with python.    
  
  
a = 21
b = 10
c = 0

c = a + b
print "Line 1 - Value of c is ", c

c += a
print "Line 2 - Value of c is ", c 

c *= a
print "Line 3 - Value of c is ", c 

c /= a 
print "Line 4 - Value of c is ", c 

c  = 2
c %= a
print "Line 5 - Value of c is ", c

c **= a
print "Line 6 - Value of c is ", c

c //= a
print "Line 7 - Value of c is ", c

In [59]:
a = 21
b = 10
c = 0

c = 21+10
print("21 + 10 - 0 is",c)
c+=a
print("31 += 21 - 0 is",c)
c*=a
print("52 *= 21 - 0 is", c)
c/=a
print("1092 /= 21 - 0 is", c)
c=2
c%=a
print("2 %= 21 - 0 is", c)
c**=a
print("2 **= 21 - 0 is",c)
c//=a
print("2097152 //= 21 - 0 is", c )

21 + 10 - 0 is 31
31 += 21 - 0 is 52
52 *= 21 - 0 is 1092
1092 /= 21 - 0 is 52.0
2 %= 21 - 0 is 2
2 **= 21 - 0 is 2097152
2097152 //= 21 - 0 is 99864